<h1>Salesforce Credentials</h1>
<% if @credential.oauth_token.nil? %>
    <div class="alert warning">Account not authorized. Click in Update Credential to get authorization.</div>
<% end %>
<%= simple_form_for(@credential, :url => credentials_path) do |f| %>
    <div id="fields">
      <div class="field"><%= f.input :instance_url, :required => true, :class => 'input', :label => false, :placeholder => 'Instance URL' %></div>
      <div class="field"><%= f.input :client_id, :required => true, :class => 'input', :label => false, :placeholder => 'Client ID' %></div>
      <div class="field"><%= f.input :client_secret, :required => true, :class => 'input', :label => false, :placeholder => 'Client Secret' %></div>
    </div>
    <div class="success medium btn"> <%= f.button :submit %></div>
<% end %>